<h3>Current Season's Cosntructor Standings</h3>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="constructor">
      <th mat-header-cell *matHeaderCellDef> Constructor </th>
      <td mat-cell *matCellDef="let element"> {{element.Constructor.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef> Nationality </th>
      <td mat-cell *matCellDef="let element"> {{element.Constructor.nationality}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef> Wins </th>
      <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
